<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="rfbEventAttendance">
            <h2><span jhiTranslate="rfbloyaltyApp.rfbEventAttendance.detail.title">Rfb Event Attendance</span> {{rfbEventAttendance.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="rfbloyaltyApp.rfbEventAttendance.attendanceDate">Attendance Date</span></dt>
                <dd>
                    <span>{{rfbEventAttendance.attendanceDate}}</span>
                </dd>
                <dt><span jhiTranslate="rfbloyaltyApp.rfbEventAttendance.rfbEvent">Rfb Event</span></dt>
                <dd>
                    <div *ngIf="rfbEventAttendance.rfbEventId">
                        <a [routerLink]="['/rfb-event', rfbEventAttendance.rfbEventId, 'view']">{{rfbEventAttendance.rfbEventId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="rfbloyaltyApp.rfbEventAttendance.rfbUser">Rfb User</span></dt>
                <dd>
                    <div *ngIf="rfbEventAttendance.rfbUserId">
                        <a [routerLink]="['/rfb-user', rfbEventAttendance.rfbUserId, 'view']">{{rfbEventAttendance.rfbUserId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/rfb-event-attendance', rfbEventAttendance.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
