<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="rfbLocation">
            <h2><span jhiTranslate="rfbloyaltyApp.rfbLocation.detail.title">Rfb Location</span> {{rfbLocation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="rfbloyaltyApp.rfbLocation.locationName">Location Name</span></dt>
                <dd>
                    <span>{{rfbLocation.locationName}}</span>
                </dd>
                <dt><span jhiTranslate="rfbloyaltyApp.rfbLocation.runDayOfWeek">Run Day Of Week</span></dt>
                <dd>
                    <span>{{rfbLocation.runDayOfWeek}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/rfb-location', rfbLocation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
