<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-rfb-location-heading" jhiTranslate="rfbloyaltyApp.rfbLocation.home.createOrEditLabel">Create or edit a Rfb Location</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!rfbLocation.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="rfbLocation.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rfbloyaltyApp.rfbLocation.locationName" for="field_locationName">Location Name</label>
                    <input type="text" class="form-control" name="locationName" id="field_locationName"
                        [(ngModel)]="rfbLocation.locationName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rfbloyaltyApp.rfbLocation.runDayOfWeek" for="field_runDayOfWeek">Run Day Of Week</label>
                    <input type="number" class="form-control" name="runDayOfWeek" id="field_runDayOfWeek"
                        [(ngModel)]="rfbLocation.runDayOfWeek" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
