<div>
    <h2 id="page-heading">
        <span jhiTranslate="rfbloyaltyApp.rfbLocation.home.title">Rfb Locations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-rfb-location" [routerLink]="['/rfb-location/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="rfbloyaltyApp.rfbLocation.home.createLabel">
            Create new Rfb Location
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="rfbLocations">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="locationName"><span jhiTranslate="rfbloyaltyApp.rfbLocation.locationName">Location Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="runDayOfWeek"><span jhiTranslate="rfbloyaltyApp.rfbLocation.runDayOfWeek">Run Day Of Week</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let rfbLocation of rfbLocations ;trackBy: trackId">
                <td><a [routerLink]="['/rfb-location', rfbLocation.id, 'view' ]">{{rfbLocation.id}}</a></td>
                <td>{{rfbLocation.locationName}}</td>
                <td>{{rfbLocation.runDayOfWeek}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/rfb-location', rfbLocation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/rfb-location', rfbLocation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'rfb-location/'+ rfbLocation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="rfbLocations && rfbLocations.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
