<div>
    <h2 id="page-heading">
        <span jhiTranslate="rfbloyaltyApp.rfbUser.home.title">Rfb Users</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-rfb-user" [routerLink]="['/rfb-user/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="rfbloyaltyApp.rfbUser.home.createLabel">
            Create new Rfb User
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="rfbUsers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="rfbloyaltyApp.rfbUser.userName">User Name</span></th>
            <th><span jhiTranslate="rfbloyaltyApp.rfbUser.homeLocation">Home Location</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let rfbUser of rfbUsers ;trackBy: trackId">
                <td><a [routerLink]="['/rfb-user', rfbUser.id, 'view' ]">{{rfbUser.id}}</a></td>
                <td>{{rfbUser.userName}}</td>
                <td>
                    <div *ngIf="rfbUser.homeLocationId">
                        <a [routerLink]="['../rfb-location', rfbUser.homeLocationId , 'view' ]" >{{rfbUser.homeLocationId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/rfb-user', rfbUser.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/rfb-user', rfbUser.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'rfb-user/'+ rfbUser.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
