<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="rfbUser">
            <h2><span jhiTranslate="rfbloyaltyApp.rfbUser.detail.title">Rfb User</span> {{rfbUser.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="rfbloyaltyApp.rfbUser.userName">User Name</span></dt>
                <dd>
                    <span>{{rfbUser.userName}}</span>
                </dd>
                <dt><span jhiTranslate="rfbloyaltyApp.rfbUser.homeLocation">Home Location</span></dt>
                <dd>
                    <div *ngIf="rfbUser.homeLocationId">
                        <a [routerLink]="['/rfb-location', rfbUser.homeLocationId, 'view']">{{rfbUser.homeLocationId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/rfb-user', rfbUser.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
