<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-rfb-user-heading" jhiTranslate="rfbloyaltyApp.rfbUser.home.createOrEditLabel">Create or edit a Rfb User</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!rfbUser.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="rfbUser.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rfbloyaltyApp.rfbUser.userName" for="field_userName">User Name</label>
                    <input type="text" class="form-control" name="userName" id="field_userName"
                        [(ngModel)]="rfbUser.userName" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rfbloyaltyApp.rfbUser.homeLocation" for="field_homeLocation">Home Location</label>
                    <select class="form-control" id="field_homeLocation" name="homeLocation" [(ngModel)]="rfbUser.homeLocationId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="rfbLocationOption.id" *ngFor="let rfbLocationOption of homelocations; trackBy: trackRfbLocationById">{{rfbLocationOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
