<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-rfb-event-heading" jhiTranslate="rfbloyaltyApp.rfbEvent.home.createOrEditLabel">Create or edit a Rfb Event</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!rfbEvent.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="rfbEvent.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rfbloyaltyApp.rfbEvent.eventDate" for="field_eventDate">Event Date</label>
                    <div class="input-group">
                        <input id="field_eventDate" type="text" class="form-control" name="eventDate" ngbDatepicker  #eventDateDp="ngbDatepicker" [(ngModel)]="rfbEvent.eventDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="eventDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rfbloyaltyApp.rfbEvent.eventCode" for="field_eventCode">Event Code</label>
                    <input type="text" class="form-control" name="eventCode" id="field_eventCode"
                        [(ngModel)]="rfbEvent.eventCode" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rfbloyaltyApp.rfbEvent.rfbLocation" for="field_rfbLocation">Rfb Location</label>
                    <select class="form-control" id="field_rfbLocation" name="rfbLocation" [(ngModel)]="rfbEvent.rfbLocationId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="rfbLocationOption.id" *ngFor="let rfbLocationOption of rfblocations; trackBy: trackRfbLocationById">{{rfbLocationOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
