<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="rfbEvent">
            <h2><span jhiTranslate="rfbloyaltyApp.rfbEvent.detail.title">Rfb Event</span> {{rfbEvent.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="rfbloyaltyApp.rfbEvent.eventDate">Event Date</span></dt>
                <dd>
                    <span>{{rfbEvent.eventDate}}</span>
                </dd>
                <dt><span jhiTranslate="rfbloyaltyApp.rfbEvent.eventCode">Event Code</span></dt>
                <dd>
                    <span>{{rfbEvent.eventCode}}</span>
                </dd>
                <dt><span jhiTranslate="rfbloyaltyApp.rfbEvent.rfbLocation">Rfb Location</span></dt>
                <dd>
                    <div *ngIf="rfbEvent.rfbLocationId">
                        <a [routerLink]="['/rfb-location', rfbEvent.rfbLocationId, 'view']">{{rfbEvent.rfbLocationId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/rfb-event', rfbEvent.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
